/* Style général */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
}

/* Header */
.header {
    background-color: #1c1c1c;
    padding: 20px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.navbar .logo img {
    height: 40px;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #375dc5;
}

/* Hero Section */
.hero {
    background: url('https://www.porsche.com/images/models/911/991/911-991-carrera-s_1920x1080.jpg') no-repeat center center/cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
    text-align: center;
}

.hero-content h1 {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 20px;
}

.hero-content p {
    font-size: 18px;
    margin-bottom: 30px;
}

/* Modèles Section */
.models {
    padding: 80px 20px;
    background-color: #f9f9f9;
    text-align: center;
}

.models h2 {
    font-size: 32px;
    margin-bottom: 40px;
}

.model-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.model-card {
    background-color: white;
    width: 30%;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
}

.model-card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.model-card h3 {
    font-size: 24px;
    margin-top: 20px;
    font-weight: bold;
}

.model-card p {
    font-size: 16px;
    margin-top: 10px;
}

.btn-primary {
    background-color: #375dc5;
    color: white;
    padding: 12px 30px;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-primary:hover {
    background-color: #AF1740;
}

